.container,
mat-card,
mat-accordion,
p {
  max-width:900px;
  margin:40px auto;

  mat-form-field,
  textarea,
  mat-accordion,
  p {
    width: 100%;
  }

}

mat-spinner{
  margin:auto;
}

.myoffer{
  background:#3f51b5;
  padding:4px 10px;
  border-radius:4px;
  color:#fff;
  font-weight:500;
  margin-left:2rem;
}
