<div class="container">
  <a mat-raised-button color="primary" [routerLink]="[appRouterUrls.ADMIN, 'create']">New offer</a>
</div>
<div class="container">

<mat-spinner *ngIf="isLoading"></mat-spinner>

  <mat-accordion multi="true" *ngIf="offers.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let offer of offers">
      <mat-expansion-panel-header>
         <mat-panel-title>
          {{ offer.position }}
          </mat-panel-title>
        <mat-panel-description *ngIf="userIsAuthenticated && userId === offer.creator">
            You can manage this offer.
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ offer.shortdesc }}</p>
      <mat-action-row *ngIf="userIsAuthenticated && userId === offer.creator">
        <button mat-button color="primary" [routerLink]="[appRouterUrls.ADMIN, 'edit', offer.id ]">EDIT</button>
        <button mat-button color="warn" (click)="onDelete(offer.id)">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="offers.length <= 0 && !isLoading">No offers added yet!</p>

</div>
