<div class="logo">
  <img src="assets/images/main-logo.png" alt="Just Join IT logo">
</div>
<div *ngIf="userIsAuthenticated" class="username">
  <p><b>Current user:</b><br> {{userName}}</p>
</div>
<ul class="sidenav-list" fxLayout="column" fxLayoutAlign="end center">
  <li *ngIf="!userIsAuthenticated"><a [routerLink]="appRouterUrls.LOGIN">Login</a></li>
  <li *ngIf="!userIsAuthenticated"><a [routerLink]="appRouterUrls.SIGNUP">Sign up</a></li>
  <li *ngIf="userIsAuthenticated"><a [routerLink]="appRouterUrls.ADMIN">Admin Panel</a></li>
  <li *ngIf="userIsAuthenticated"><span (click)="onLogout()">Logout</span></li>
</ul>
