@import '../../../../styles/variables';

.logo{
  max-width:200px;
  padding:1rem 2rem;
}
.username{
  padding:1rem 2rem;
  text-align:center;
}
ul.sidenav-list {
  padding: 0 1rem 3rem 1rem;
  list-style-type: none;

  li {

    a,
    span {
      color: $primary-color;
      cursor: pointer;
      margin: 8px;
      display: block;
      &:hover{
        color:$link-color;
      }
    }
  }

}
