<div id="map"
    leaflet
    [(leafletOptions)]="options"
    [(leafletZoom)]="zoom"
     [(leafletCenter)]="mapcenter"
    #mapa
    (leafletMapReady)="onMapReady($event)"
>
  <div [leafletLayers]="markers"></div>

</div>
