 <div class="container">
   <div class="sign-up">
     <h1>Sign-up form</h1>
     <mat-card>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
          <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
      </form>
    </mat-card>




     <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
       <p>
         <mat-form-field class="form-full-width">
           <mat-label>Name</mat-label>
           <input matInput placeholder="Name" formControlName="name">
           <mat-hint align="end">Enter full name.</mat-hint>
           <mat-error *ngIf="signupForm.get('name').invalid">This field is required</mat-error>
         </mat-form-field>
       </p>
       <p>
         <mat-form-field class="form-full-width">
           <mat-label>Username</mat-label>
           <input matInput placeholder="Username" formControlName="username">
           <mat-hint align="end">Username would be your login.</mat-hint>
           <mat-error *ngIf="signupForm.get('username').invalid">This field is required!</mat-error>
         </mat-form-field>
       </p>
       <p>
         <mat-form-field class="form-full-width">
           <mat-label>Email</mat-label>
           <input matInput placeholder="Enter your email" formControlName="email" required>
           <mat-error *ngIf="signupForm.get('email').invalid">Please enter a valid email!</mat-error>
         </mat-form-field>
        </p>
       <p>
         <mat-form-field class="form-full-width">
           <mat-label>Password</mat-label>
           <input matInput placeholder="Password" type="password" formControlName="password">
           <mat-error *ngIf="signupForm.get('password').invalid">This field is required!</mat-error>
         </mat-form-field>
       </p>
       <p>
         <mat-form-field class="form-full-width">
           <mat-label>Confirm password</mat-label>
           <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
         </mat-form-field>
       </p>
       <button mat-button color="primary" [disabled]="!signupForm.valid">Sign up</button>
     </form> -->
   </div>
 </div>
