.sign-up {
  padding: 20px;
  background-color: #FFF;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 18px 10px #e1e8f0b3;
  overflow: hidden;
  margin-top: 40px;

  h1{
      text-align:center;
  }
  mat-spinner{
    margin:auto;
  }
  form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: center;
    }

    .form-full-width {
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    button{
       align-self: center;
    }
  }
}
