ul.menu-buttons {

  list-style-type: none;
  font-size: 14px;
  padding-right: 1rem;

  li {
    a.menu-button,
    p.menu-button,
    i.menu-button {
      display: block;
      padding: 0px 10px;
      color: #99a1ab;
      cursor: pointer;
    }
  }
}
