<ul class="menu-buttons" fxLayout="row" fxLayoutAlign="end center">

  <li><a class="menu-button" href="https://geek.justjoin.it/" target="_blank">Magazine</a></li>
  <li><a class="menu-button" href="http://event.justjoin.it/" target="_blank">Event</a></li>
  <li><a class="menu-button" href="https://justjoin.it/brands/story/just-join-it" target="_blank">About us</a></li>
  <!-- <li><a class="menu-button" href="https://geek.justjoin.it/" target="_blank">Contact</a></li> -->
  <!-- <li><a class="menu-button"  [routerLink]="appRouterUrls.DEFAULT">Post a Job</a></li> -->
  <li class="side-nav-trigger" (click)="toggleNav()">
    <i class="menu-button material-icons">more_vert</i>
  </li>
</ul>
