<div id="logotypes" fxLayout="row" fxLayoutAlign="space-between end">
  <div id="main-logo" class="logo" [routerLink]="appRouterUrls.DEFAULT">
    <img src="assets/images/main-logo.png" alt="Just Join IT logo">
  </div>
  <div id="brands-logo" class="logo" fxHide.lt-md>
    <img src="assets/images/logo-brands.png" alt="Just Join IT Brands logo">
  </div>
  <div class="brand-sentence" fxHide.lt-lg>
    The biggest IT job board for Polish the devs
  </div>
</div>
