
  #logotypes {


    .logo {
      padding: 7px 44px;
      height:calc(20px + 7px * 2);
    }

    .brand-sentence {
      color: #99a1ab;
      font-size: 12px;
      padding: 33px 44px 7px;
    }

    #main-logo{
      cursor:pointer;
    }
  }


