@import '../styles/variables';

header {
    height:65px;
    background: $bg-white;
}
.side-nav-trigger{
  margin-right:40px;
  color: #99a1ab;
  cursor:pointer;
  padding:0 15px;
  i{
    color: #99a1ab;
  }
}

.app-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav{
    padding:1rem;
  }
}
