<mat-sidenav-container class="app-nav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav" position="end" fixedInViewport="Fixed">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <header fxLayout="row" fxLayoutAlign.lt-md="start end" fxLayoutAlign.gt-sm="space-between end">
      <div>
        <app-brand-header></app-brand-header>
      </div>
      <div class="main-menu" fxHide.lt-md fxLayout="row" fxLayoutAlign="end center">
        <app-navigation-menu></app-navigation-menu>
      </div>

    </header>
    <div class="content" fxLayout="column">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
