.main-content {
  position: fixed;
  top: 190px;
  bottom: 0;
  left:0;
  right:0;

  .sidebar {

    position: relative;
    

    .sidebar-inner {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .offer-list {
    overflow-y: scroll;
  }

  .map-container {
    position: relative;
  }

}
