<div class="buttons-row places" fxHide.lt-md>
  <button (click)="onSelectPlace(place.city)"
    [routerLink]="[appRouterUrls.DEFAULT, place.url, urls.tech, urls.level, urls.salaryMin, urls.salaryMax]"
    class="button-place button-rounded {{ place.url }} {{ place.url == urls.place ? 'active' : '' }}"
    *ngFor="let place of places; let i = index">
    {{place.city}}
  </button>
</div>
<div class="filters" fxLayout="row" fxLayoutAlign="space-between start" fxHide.lt-md>
  <div class="left">
    <div class="buttons-row technologies">
      <button (click)="onSelectTech(tech.name)"
        [routerLink]="[appRouterUrls.DEFAULT, urls.place, tech.url, urls.level, urls.salaryMin, urls.salaryMax]"
        routerLinkActive #rlatech="routerLinkActive"
        class="button-tech {{ tech.url }} {{ (tech.url == urls.tech || urls.tech == 'all') ? 'active' : '' }}"
        *ngFor="let tech of technologies; let i = index">
        <div *ngIf="tech.url != 'all'" class="icon-wrapper">
          <i class="icon icon-{{ tech.url }}"></i>
        </div>
        <span class="tech-name">{{ tech.name }} </span>
      </button>
    </div>
  </div>
  <div class="right" fxLayout="row" fxLayoutAlign="end center" fxFlexAlign="stretch">
    <div class="dropdown salary" appDropdown>
      <button class="dropdown-toggle button-rounded" [ngClass]="{'active': isSliderActive}"> {{ sliderText }} <mat-icon>
          arrow_drop_down</mat-icon></button>
      <div class="dropdown-area start-right">
        <p>Choose salary range</p>
        <div class="salary-filter">
          <nouislider [config]="salarySliderConfig" [(ngModel)]="salarySliderRange" (change)="onChangeSlider($event)" [min]="0" [max]="sliderMax"></nouislider>
        </div>
      </div>
    </div>

    <div class="dropdown levels" appDropdown>
      <button class="dropdown-toggle  button-rounded" [ngClass]="{'active': isLevelActive}">
        <mat-icon>trending_up</mat-icon> {{ levelText }}<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <div class="dropdown-area start-right">
        <a (click)="onSelectLevel(level.name)"
          [routerLink]="[appRouterUrls.DEFAULT, urls.place, urls.tech, level.url, urls.salaryMin, urls.salaryMax]"
          *ngFor="let level of levels; let i = index" class="dropdown-item">
          {{level.name}}
        </a>
      </div>
    </div>
  </div>

</div>
 <div fxLayoutAlign="space-between start" fxLayout="row wrap" fxHide fxShow.lt-md class="mobile-filters">
    <div class="mobile-places" fxFlex="50">
        <mat-form-field>
            <mat-label>Select place</mat-label>
            <mat-select [(value)]="urls.place" (selectionChange)="onMobilePlaceSelect($event)">
              <mat-option [value]="place.url" *ngFor="let place of places; let i = index" >{{place.city}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="mobile-tech" fxFlex="50">
        <mat-form-field>
            <mat-label>Select technology</mat-label>
            <mat-select [(value)]="urls.tech"  (selectionChange)="onMobileTechSelect($event)">
              <mat-option [value]="tech.url" *ngFor="let tech of technologies; let i = index" >{{tech.name}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
  </div>

