@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5z06fz');
  src:  url('fonts/icomoon.eot?5z06fz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5z06fz') format('truetype'),
    url('fonts/icomoon.woff?5z06fz') format('woff'),
    url('fonts/icomoon.svg?5z06fz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-javascript:before {
  content: "\e901";
  color: #f7df1e;
}
.icon-ruby:before {
  content: "\e902";
  color: #cc342d;
}
.icon-html:before {
  content: "\e903";
  color: #e34f26;
}
.icon-php:before {
  content: "\e904";
  color: #777bb4;
}
.icon-f-secure:before {
  content: "\e900";
  color: #00baff;
}
.icon-java:before {
  content: "\e905";
  color: #007396;
}
.icon-azuredevops:before {
  content: "\e906";
  color: #0078d7;
}
.icon-scala:before {
  content: "\e907";
  color: #dc322f;
}
.icon-python:before {
  content: "\e908";
  color: #3776ab;
}
.icon-css3:before {
  content: "\e909";
  color: #1572b6;
}
.icon-dotnet:before {
  content: "\e90a";
  color: #5c2d91;
}
.icon-c:before {
  content: "\e90b";
  color: #00599c;
}
.icon-other:before {
  content: "\e940";
}
.icon-data:before {
  content: "\e964";
}
.icon-testing:before {
  content: "\e986";
}
