<h1>Offers dashboard</h1>
<div class="container">
  <button mat-raised-button color="primary" (click)="onLoadSampleData()">Load sample data</button>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card>

  <form (ngSubmit)="onSaveOffer()" [formGroup]="offerForm" *ngIf="!isLoading" fxLayout="column" >
    <div fxLayout="row" fxLayoutGap="20px">
    <!-- Position name -->
      <mat-form-field >
        <input
          matInput
          type="text"
          formControlName="position"
          placeholder="Position"
          (input)="onTypePosition($event)" >
        <mat-error *ngIf="offerForm.get('position').invalid">Please enter an offer position.</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">

      <!-- Minimum salary -->
      <mat-form-field fxFlex="50">
        <input
          matInput
          type="number"
          formControlName="salaryMin"
          placeholder="Minimum salary">
        <mat-error *ngIf="offerForm.get('salaryMin').invalid">Please enter an offer salaryMin.</mat-error>
      </mat-form-field>

       <!-- Maximum salary -->
      <mat-form-field fxFlex="50">
        <input
          matInput
          type="number"
          formControlName="salaryMax"
          placeholder="Maximum salary">
        <mat-error *ngIf="offerForm.get('salaryMax').invalid">Please enter an offer salaryMax.</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <!-- Company name -->
      <mat-form-field fxFlex="50">
        <input
          matInput
          type="text"
          formControlName="company"
          placeholder="Company name">
        <mat-error *ngIf="offerForm.get('company').invalid">Please enter an offer company.</mat-error>
      </mat-form-field>

      <!-- Company size -->
      <mat-form-field fxFlex="50">
        <input
          matInput
          type="number"
          formControlName="size"
          placeholder="Number of members">
        <mat-error *ngIf="offerForm.get('size').invalid">Please enter an offer size.</mat-error>
      </mat-form-field>
    </div>

    <!-- Logo -->
    <div fxLayout="row" fxLayoutGap="20px" fxLayout="row" class="logo-wrapper" >
        <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
            <button mat-stroked-button type="button" (click)="filePicker.click()" >Pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">

        </div>
        <mat-error *ngIf="(offerForm.get('logo').value !== null && offerForm.get('logo').invalid ) || offerForm.get('logo').value =='invalid' " >Please select png or jpg file. </mat-error>
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && offerForm.get('logo').valid" fxFlex="80">
            <img [src]="imagePreview" [alt]="offerForm.value.title">
          </div>

    </div>


    <!-- Places -->
    <div formGroupName="place" fxFlex="100">
        <div fxLayout="row" fxLayoutGap="20px">
          <!-- Place city -->
          <mat-form-field fxFlex="30">
            <input
              matInput
              type="text"
              formControlName="city"
              placeholder="City">
            <mat-error *ngIf="offerForm.get('place.city').invalid">Please enter an a City.</mat-error>
          </mat-form-field>

          <!-- Place street -->
          <mat-form-field fxFlex="50">
            <input
              matInput
              type="text"
              formControlName="street"
              placeholder="Street">
            <mat-error *ngIf="offerForm.get('place.street').invalid">Please enter a Street.</mat-error>
          </mat-form-field>

          <!-- Place house number -->
          <mat-form-field fxFlex="20">
            <input
              matInput
              type="text"
              formControlName="houseNumber"
              placeholder="House number">
            <mat-error *ngIf="offerForm.get('place.houseNumber').invalid">Please enter a House number.</mat-error>
          </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
            <!-- Coordinates -->
            <mat-form-field fxFlex="100">
                <input
                  matInput
                  type="text"
                  formControlName="coordinates"
                  placeholder="Coordinates - start typing address"
                  [matAutocomplete]="auto"
                  (input)="onTypeCoordinates($event)"
                  >
                  <mat-autocomplete #auto="matAutocomplete" >
                      <mat-option *ngFor="let option of options" [value]="[option.y, option.x]">
                        {{option.label}}
                      </mat-option>
                    </mat-autocomplete>
                <mat-error *ngIf="offerForm.get('coordinates').invalid">Please enter an offer coordinates .</mat-error>
              </mat-form-field>

        <!-- <mat-form-field class="example-full-width">
            <input type="text" placeholder="Start typing address" matInput  [matAutocomplete]="auto" (input)="onTypeCoordinates($event)" >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getLat($event.option)">
              <mat-option *ngFor="let option of options" [value]="option.label">
                {{option.label}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <!-- EMP type -->
      <mat-form-field fxFlex="50">
          <input matInput type="text" formControlName="emptype" placeholder="EMP type">
          <mat-error *ngIf="offerForm.get('emptype').invalid">Please enter an offer emptype.</mat-error>
      </mat-form-field>
        <!-- url -->
      <mat-form-field fxFlex="50">
          <input
            matInput
            type="text"
            formControlName="url"
            placeholder="URL address">
          <mat-error *ngIf="offerForm.get('url').invalid">Please enter an offer url.</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <!-- Technologies -->
      <mat-form-field>
          <mat-label>Technologies</mat-label>
          <mat-select formControlName="technologies" [value]="technologies" >
            <mat-option *ngFor="let technology of technologies" [value]="technology.name">{{technology.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="offerForm.get('levels').invalid">Please enter an offer levels.</mat-error>
        </mat-form-field>

      <!-- Exp levels -->
      <mat-form-field>
          <mat-label>Exp Levels</mat-label>
          <mat-select formControlName="levels" [value]="levels" multiple>
            <mat-option *ngFor="let level of levels" [value]="level.name">{{level.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="offerForm.get('levels').invalid">Please enter an offer levels.</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">



    </div>

    <!-- Skills -->
    <div formArrayName="skills" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="20px" class="skills">
      <div class="skill" [formGroupName]="i"  *ngFor="let skill of offerForm.get('skills')['controls']; let i = index" fxFlex="30">
        <!-- Skills formControlName -->
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Skill name">
          <mat-error *ngIf="skill.controls.name.invalid">Please enter an offer formControlName.</mat-error>
        </mat-form-field>

        <!-- Skills level -->
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="leveltitle"
            placeholder="Skill level">
          <mat-error *ngIf="skill.controls.leveltitle.invalid">Please enter an offer leveltitle.</mat-error>
        </mat-form-field>

        <!-- Skills value -->
        <div class="skill-level-value">
          <label class="skill-radio-group-label">Please describe skill level.</label>
          <mat-radio-group aria-label="Select an option" formControlName="levelnumber" [(value)]="skill.controls.levelnumber.value">
            <mat-radio-button  *ngFor="let skillvalue of skillvalues" [value]="skillvalue">{{skillvalue}}</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="skill.controls.levelnumber.invalid">Please select a value between 1-5.</mat-error>
        </div>

        <div class="remove-skill-wrapper">
          <button mat-raised-button color="warn" type="button" class="remove-skill" (click)="onDeleteSkill(i)">
            Remove skill
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20%">
      <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onAddSkill()">Add Skill</button>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <!-- Short description -->
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="shortdesc"
          placeholder="Short description">
        <mat-error *ngIf="offerForm.get('shortdesc').invalid">Please enter an offer shortdesc.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <!-- Description -->
      <mat-form-field>
        <textarea
          matInput
          rows="10"
          formControlName="description"
          placeholder="Content"></textarea>
        <mat-error *ngIf="offerForm.get('description').invalid">Please enter an description.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <button
      fxFlex="100"
        mat-raised-button
        color="accent"
        type="submit">Save Offer</button>
    </div>
  </form>
</mat-card>
