@import '../../../../../styles/variables';

mat-card {
  max-width: 900px;
  margin: 1rem auto;

  mat-form-field,
  textarea {
    width: 100%;
  }

}

h1 {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

form>div {
  margin-bottom: 10px;
}

.skills {
  width:100%;
  .skill {
    background:$bg-color;
    padding:0.5rem;
    margin-bottom:20px;
    .mat-radio-button~.mat-radio-button {
      margin-left: 16px;
    }

    .skill-radio-group-label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .remove-skill-wrapper {
      margin-top: 1rem;
      text-align:center;

      .remove-skill {
        text-transform: none;

        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

input[type="file"] {
  visibility: hidden;
  width:0;
}
.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.logo-wrapper{
  button{
    margin:auto;
  }
}
